{%extends 'everything/base.html'%}
<link href="https://fonts.googleapis.com/css?family=Pacifico|Source+Serif+Pro&display=swap" rel="stylesheet">
{%load bootstrap4 %}
{% block content %}
<div class="well">
    <h1 style="font-family:'Leckerli One', cursive;" class="text-center">Instagram</h1>
    <br>
    <a href="{%url 'addPic'%}"><i class="fa fa-upload" aria-hidden="true" style="font-size:36px;color: rgb(31, 30, 30);margin-left: 630px;"></i></a>
</div>
<div class="container">
    {% for pic in image %}
    <div class="card">
        <img src="{{user_name.profile}}" alt="">

    </div>
    {% endfor %}
</div>

{% endblock %}