{% extends 'base.html'%}

{% block content %}
<div class="container">
    <div class="row">
    <!-- displaying  Username-->
        <div class="col-md-4">
            <h3> {{user.user_name}} </h3> -->

            <!-- Displaying user bio -->
             {% if user.bio %}
            <p> {{user.bio}}</p>
            {%else%}
            <p> {{user.user_name}} has no bio </p>
            {% endif %}
        </div>

    <!--Display profile photo-->
        <div class="col-md-4">

            {% if user.pro_pic %}
            <img src="{{}}" class="img-thumbnail">
            {%else%}
            <p>No profile picture</p>
            {% endif %}

            {% if user == current_user %}
            <form  action="{{}}" method="post" enctype = "multipart/form-data">

            <input type="file"  name="photo" class="form-control" required>
            <input type="submit">
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}