{%extends 'everything/base.html'%}

{% block content %}
<div class="container">
    <div class="row">
    <!-- displaying  Username-->
        <div class="col-md-4">
            <h3> {{user.username}} </h3> 
            <img src="{{user.profile.pro_pic.url}}" alt="picture">
            <!-- Displaying user bio -->
            
            <p> {{user.bio}}</p>
        </div>

    <!--Display profile photo-->
        <div class="col-md-4">

            <form  action="{% url 'editProfile' %}" method="post" enctype = "multipart/form-data">

            <input type="file"  name="photo" class="form-control" required>
            <input type="submit">
            </form>
            
        </div>
    </div>
</div>
{% endblock %}